<div class="container">
  <h1 class="text-center">Witch Calculator</h1>
  <%= form_with(model: @witch_calculation, url: calculate_average_kills_path, method: :post, class: "mt-4") do |form| %>
    <div id="persons">
      <div class="person-fields" index=0>
        <input type="number" name="persons[][age_of_death]" placeholder="Age of Death">
        <input type="number" name="persons[][year_of_death]" placeholder="Year of Death">
        <button type="button" class="btn btn-danger remove-person">Remove Person</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= button_tag 'Add Person', class: "btn btn-primary center", id: "add-person" %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= form.submit 'Calculate', class: "btn btn-primary center" %>
      </div>
    </div>
  <% end %>
</div> 

<%= javascript_pack_tag 'dynamic_form' %>
